<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserManagerMapper">

	<select id="findList" parameterType="sc" resultType="sc">
		SELECT id, name, age, gender, phone, address FROM USER
	</select>

</mapper>